TZ=America/New_York

GHCR_USERNAME=your-ghcr-username
GHCR_TOKEN=your-ghcr-token

DO_TOKEN=your-digitalocean-token

DO_REGION=nyc3
DO_SIZE=s-1vcpu-2gb
DO_IMAGE=ubuntu-22-04-x64

LIVE_TRADE=False
ALPACA_BASE_URL=https://paper-api.alpaca.markets
ALPACA_KEY_ID=your-alpaca-key-id
ALPACA_SECRET_KEY=your-alpaca-secret-key

EMAIL_POSITIONS=True

SPACES_KEY=your-spaces-key
SPACES_SECRET=your-spaces-secret
SPACES_BUCKET=your-spaces-bucket
SPACES_REGION=sfo3
SPACES_OBJECT_KEY_PATH=quant-portfolio/strategies

TO_ADDRESSES=alerts@example.com
FROM_ADDRESS=info@example.com

AWS_SES_REGION_NAME=us-east-1
AWS_SES_ACCESS_KEY_ID=your-ses-access-key
AWS_SES_SECRET_ACCESS_KEY=your-ses-secret-access-key

DO_SSH_KEY_ID=your-ssh-key-id-or-fingerprint
